<%- include("partials/header") %>


<div class="container mt-5">
    <h1>Release Hold</h1>
    <form action="/loans/hold" method="post">
        <button class="btn btn-lg btn-danger" style="text-align:center">Release Hold</button>
    </form>
    

</div>
<%- include("partials/footer") %>