<%- include("partials/header") %>


<div class="center">
    <h2>Let's get Camunda started</h2>
    <form action="/start-service" method="POST">
        <input class="form-control mt-5 mb-5" type="text" name="loanId" placeholder="Enter loan ID"></input>
        <button class="btn btn-lg btn-danger" >START PROCESS</button>
    </form>
</div>
<%- include("partials/footer") %>