<%- include("partials/header") %>

<div class="container mt-5">
    <form action="/loans/inprogress" method="post">
        <textarea name="message" id=""  rows="10" style="width:100%" placeholder="Your Message Here..."></textarea>
        <br>
        <button class="btn btn-lg btn-primary">SUBMIT</button>
    </form>
    

</div>
<%- include("partials/footer") %>